    body {
      background-color: rgb(17, 16, 15);
      margin: 0px;
      padding: 0px;
      text-align: center;
  }

    h1 {
        color: rgb(255, 255, 255);
       font-family: 'Bebas Neue', cursive;
  }

    button {
        width: 150px;
        height: 35px;
        border-radius: 20px;
        font-size: 13px;
        font-weight: bold;
        outline: none;
        background-color: rgb(235, 228, 173);
 }
    
     button:hover {
        transform: scale(1.5);
 }

    #result{
      font-size:40px;
        margin-top: 40px;
        text-align: center;
        color: rgb(219, 39, 15);
 }